.thumbnail{
    width: 100%;
    
}

.preview-container{
    display: grid;
    grid-template-rows: 180px 120px;
    width: 300px;
   
}

.circle-image{
    width: 32px;
    border-radius: 50%;
     
}

.channel-pic{
    align-content: center;
    
}

.thumbnail-container{
    width: 300px;
    margin-bottom: 0;
    padding-bottom: 0;

}

.preview-details{
    display: grid;
    grid-template-columns: 50px 1fr;
    width: 100%;
    column-gap: 5px;
    
    margin-top: 0;
}

.preview-container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    height: fit-content;
   
}

body{
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(245, 244, 238);
}

.video-time{
    font-family: Roboto, Arial;
    background-color: black;
    color: white;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
    position: relative;
    bottom: 25px;
    left: 260px;
    border-radius: 2px;
}

.notif{
    font-family: Roboto, Arial;
    background-color: rgb(202, 9, 9);
    color: white;
    font-weight: bold;
    font-size: 11px;
    border-radius: 24px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    right: 86px;
    top: 15px;
    z-index: 101;
    cursor: pointer;
}